@import "../../styles/_mixins";
@import "../../styles/_variables";

.Main {
  @include flex-container();
  @include box-model($width: 100%, $height: 100%);

  .left {
    background-color: $tertiary-color;
    @include flex-container(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 2rem
    );
    @include box-model($width: 60%, $padding: 2rem);

    h2 {
      color: $secondary-text-color;
    }

    form {
      @include flex-container($direction: column, $gap: 2rem);
      label {
        @include flex-container($direction: column, $gap: 0.7rem);
        @include form-text($font-size: 0.9rem, $font-weight: 600);
        color: $secondary-text-color;
      }
      input {
        @include box-model($padding: 0.8rem 1rem, $width: 300px);
        @include border($radius: 1rem);
        &:focus {
          outline: none;
        }
      }
      button {
        @include button-element(
          $padding: 0.8rem 1rem,
          $border: none,
          $border-radius: 1rem
        );
        background-color: $secondary-color;
        color: $quinary-text-color;
      }
    }
  }

  .right {
    @include flex-container($direction: column, $align: center, $gap: 2rem);
    @include box-model($width: 40%, $padding: 3rem 5rem 3rem 3rem);

    img {
      @include box-model($width: 90%);
    }

    .text {
      @include flex-container($direction: column, $align: center, $gap: 1rem);
      color: $secondary-text-color;

      p {
        @include box-model($width: 60%);

        text-align: center;
      }
    }
  }
}
