@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.Main{
  .info {
        @include box-model($padding: 0 0 20px 0, );


        .textInfo {
          @include box-model($padding: 20px 0);
          text-align: justify;

        }

        .boxInfo {
          @include form-text($font-weight: 600);
          @include flex-container($direction: column, $justify: center, $align: center, $gap: 20px);
          text-align: center;
          
          span {
            color: $secondary-text-color;
            font-size: 1rem !important;
          }
          .boxInfoGrid {
            @include flex-container($direction: column, $justify: center, $align: center, $gap: 20px)  
          }
          
        }
        
      }
}


@media only screen and (min-width: 600px) {
.Main {
  .info {
    .boxInfo {
      font-size: 1.2rem;

      span {
        font-size: 1.2rem !important;
      }
    }
  }
}
}

@media only screen and (min-width: 768px) {
.Main {
  .info {
    .boxInfo {
      display: block;
      text-align: start;
    .boxInfoGrid {
      display: grid;
      grid: 50px 50px / repeat(2, 1fr);  
    }

    .fee {
      padding-top: 45px;
    }
  }
  }
}
}

// .boxInfoGrid {
//           display: grid;
//           grid: 50px 50px / repeat(2, 1fr);  
//           }