@import "../../styles/_mixins";
@import "../../styles/_variables";

.Main {
  @include box-model($height: calc(100vh - 170px));
  @include flex-container(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 2rem
  );

  img {
    @include box-model($padding: 2rem, $width: 15rem);
  }

  .message {
    @include flex-container(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 2rem
    );
    h2 {
      @include form-text(
        $font-size: 3rem,
        $font-weight: bold,
        $letter-spacing: 0.3rem
      );
    }
    .description {
      p {
        @include form-text(
          $font-size: 0.8rem,
          $font-weight: normal,
          $line-height: 1.2rem
        );
      }
    }
  }
}

@media only screen and (max-width: 748px) {
  .Main {
    .message {
      @include box-model($padding: 0 3rem);
      text-align: center;

      h2 {
        @include form-text(
          $font-size: 2rem,
          $font-weight: bold,
          $letter-spacing: 0.3rem
        );
      }
    }
  }
}
