@import "../../styles/_mixins";
@import "../../styles/_variables";

.Main {
  @include box-model($height: calc(100vh - 170px));
  @include flex-container(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 3rem
  );

  .icon {
    svg {
      @include box-model($width: 14rem);
    }
  }

  .message {
    @include flex-container(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 1.5rem
    );
    h2 {
      @include form-text(
        $font-size: 1.3rem,
        $font-weight: bold,
        $letter-spacing: 0.5rem,
        $line-height: 2rem
      );
    }

    .description {
      @include flex-container($direction: column, $align: center, $gap: 1.2rem);
      p {
        @include form-text(
          $font-size: 1rem,
          $font-weight: normal,
          $line-height: 1rem
        );
      }
    }

    .login_link {
      @include button-element(
        $padding: 0.7rem 1rem,
        $border: 0.1rem solid $secondary-color,
        $border-radius: 0.8rem,
        $font-weight: bold,
        $text-transform: none
      );
      @include element-position($position: relative);
      background-color: $tertiary-color;
      color: $secondary-color;
      margin-bottom: 1rem;

      &:-webkit-any-link {
        text-decoration: none;
      }

      &:hover {
        background-color: $secondary-color;
        color: $tertiary-color;
      }
    }
  }
}

@media only screen and (max-width: 748px) {
  .Main {
    @include flex-container(
      $direction: column,
      $justify: center,
      $align: center,
      $gap: 2rem
    );
    .icon {
      svg {
        @include box-model($width: 8rem);
      }
    }
    .message {
      @include box-model($padding: 0 3rem);

      h2 {
        @include form-text(
          $font-size: 1rem,
          $font-weight: bold,
          $letter-spacing: 0.3rem
        );
      }
      .description {
        p {
          @include form-text(
            $font-size: 0.8rem,
            $font-weight: normal,
            $line-height: 1rem
          );
        }
      }
    }
  }
}
