$primary-color: #262626;
$secondary-color: #b32124;
$tertiary-color: #cac7c2;
$quaternary-color: #d9d9d9;
$quinary-color: ghostwhite;

$primary-text-color: #262626;
$secondary-text-color: #b32124;
$tertiary-text-color: #cac7c2;
$quaternary-text-color: #d9d9d9;
$quinary-text-color: ghostwhite;

$box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
