@import "../../styles/_mixins";
@import "../../styles/_variables";

.Main {
  @include box-model($padding: 2rem);
  background-color: #f3eeee;
  .wrapper {
    @include flex-container(
      $wrap: wrap,
      $justify: center,
      $align: center,
      $gap: 2rem
    );
    background-color: #f3eeee;
    padding-top: 1rem;
  }
}
