@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.Main {
  @include flex-container($justify: space-evenly, $align: center);
  @include box-model($height: calc(100vh - 170px));
  padding: 20px;
  height: 100%;
  .left {
    @include flex-container($direction: column, $gap: 50px);
    @include box-model($height: 100%);

    .title_wrapper {
      @include flex-container($direction: column, $gap: 20px);

      .title {
        @include form-text(
          $font-size: 6rem,
          $font-weight: 700,
          $letter-spacing: 1px,
          $text-transform: uppercase
        );
        text-align: start;
        color: $secondary-text-color;
        line-height: 80%;
        height: auto;
        width: 400px;


        &::before {
          @include form-text(
            $font-size: 4rem,
            $font-weight: 500,
            $letter-spacing: 2px
          );
          content: "exploring";
          color: #c49a9a;
        }
      }

      .experience {
        @include box-model($width: 600px);
        @include form-text(
          $font-size: 3rem,
          $font-weight: 700,
          $letter-spacing: 15px
        );
        box-sizing: border-box;
        text-align: start;
        line-height: 100%;
        color: $primary-text-color;
      }
    }

    .desc_wrapper {
      @include flex-container($direction: column);

      .description {
        @include form-text($font-size: 1.5rem, $font-weight: 400);
        color: $primary-text-color;
        text-align: start;
        line-height: 1.7rem;
        height: 200px;
        width: 650px;
      }

      .explore_btn {
        @include button-element(
          $height: 72px,
          $width: 220px,
          $border-radius: 10px
        );
        @include form-text(
          $font-size: 1rem,
          $font-weight: 600,
          $text-transform: uppercase
        );
        @include element-position($position: relative);

        background-color: #b32124;

        &:hover {
          transform: scale(1.1);
        }

        a {
          @include box-model($padding: 28px);
          @include element-position(
            $position: absolute,
            $top: 0,
            $right: 0,
            $bottom: 0,
            $left: 0
          );
          text-decoration: none;
          color: $quinary-text-color;
        }
      }
    }
  }

  .right {
    @include box-model($width: 40%);

    .carousel {
      @include box-model($width: 100%);

      img {
        width: 100%;
        min-height: 700px;

        object-fit: cover;
        // border-radius: 50px;
        box-shadow: $box-shadow;
      }
    }
  }
}

@media only screen and (max-width: 1235px) {
  .Main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 70px;

    .left {
      width: 90%;
    }

    .right {
      width: 90%;
      min-height: 700px;
    }
    
  }
}

@media only screen and (max-width: 710px) {

  .left {
    .title {
      font-size: 4.8rem !important;
      &::before {
        font-size: 2.6rem !important;
      }
    }

    .experience {
      font-size: 2.6rem !important;
    }
  }
  .description {
    font-size: 1.35rem !important;
    width: 570px !important;
  }
}

@media only screen and (max-width: 655px) {
  .left {
    .title {
      font-size: 4.3rem !important;
      &::before {
        font-size: 2.4rem !important;
      }
    }

    .experience {
      font-size: 2.2rem !important;
      width: 400px !important;
    }
  }
  .description {
    font-size: 1.24rem !important;
    width: 500px !important;
  }
}

@media only screen and (max-width: 550px) {
  .left {
    .title {
      font-size: 3.8rem !important;
      &::before {
        font-size: 2.2rem !important;
      }
    }

    .experience {
      font-size: 2rem !important;
      width: 300px !important;
      
    }
  }
  .description {
    font-size: 1rem !important;
    width: 420px !important;
  }
}

@media only screen and (max-width: 478px) {
  .left {
    .title {
      width: 200px !important;
      font-size: 3.8rem !important;
      &::before {
        font-size: 2.2rem !important;
      }
    }

    .experience {
      font-size: 1.75rem !important;
      letter-spacing: 10px !important;
      width: 200px !important;
      
    }
  }
  .description {
    font-size: 1rem !important;
    width: 330px !important;
  }
}
