@import "../../styles/_mixins";
@import "../../styles/_variables";

.Main {
  @include flex-container(
    $direction: column,
    $justify: center,
    $align: center,
    $gap: 15px
  );

  img {
    @include box-model($width: 50%);
    border-radius: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  h3 {
    @include form-text($font-size: 1rem, $font-weight: 500);
    .firstName {
      @include form-text($font-weight: 600);
      color: $secondary-text-color;
    }
  }

  .description {
    @include box-model($width: 50%);
    @include form-text($font-size: 0.8rem);
    text-align: center;
  }
}
