@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.Main {
  @include flex-container();
  @include element-position($position: absolute, $right: 20px, $z-index: 1);
  @include box-model($height: 30px);
  @include border($radius: 80px);
  background-color: $tertiary-color;

  .input {
    @include box-model($width: 0px, $height: 100%);
    @include border($radius: 80px);

    outline: none;
    color: $primary-color;
    transition: all 0.4s;

    &.active {
      @include box-model($padding: 10px, $width: 280px, $height: 100%);
      color: $primary-color;
    }
  }
}

.close_input {
  @include flex-container($justify: center, $align: center);
  @include box-model($width: 30px, $height: 100%);
  @include border($radius: 80px);
  color: $primary-color;
}

.button {
  @include flex-container($justify: center, $align: center);
  @include box-model($padding: 0 5px);
  // background-color: $quinary-color;
}

.list {
  @include element-position(
    $position: absolute,
    $right: 70px,
    $top: 58px,
    $z-index: 1
  );

  @include box-model($padding: 10px);
  max-height: 200px;
  // background-color: $quinary-color;
  list-style-type: none;
  overflow: scroll;

  &::-webkit-scrollbar {
    overflow: hidden;
    display: inline;
    width: 15px;
  }

  &::-webkit-scrollbar-corner {
    // background: $quinary-color;
  }

  .result {
    @include box-model($padding: 2.5px 0);
    font-size: 1.5vmax;

    &:hover {
      cursor: pointer;
    }
  }
}
