@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.Main {
  @include box-model($padding: 0 50px, $width: 100%, $height: 100px);
  @include flex-container($justify: space-between, $align: center, $gap: 10px);
  @include element-position($z-index: 2);
  background-color: $tertiary-color;
  box-shadow: 2px 0px 8px 0 rgba(0, 0, 0, 0.2);
  color: $secondary-text-color;

  .text {
    @include box-model($width: 40%);
    text-align: start;
  }

  .social {
    @include flex-container($wrap: wrap, $gap: 50px);

    svg {
      transform: scale(2);

      &:hover {
        transform: scale(2.25);
        cursor: pointer;
      }
    }
  }

  .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    color: $primary-text-color;
    text-align: center;

    li {
      font-size: 0.8rem;
      list-style-type: none;

      &:hover {
        color: $secondary-text-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 748px) {
  .Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 20px;
    .social {
      margin-top: 30px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      gap: 50px;
      flex-wrap: nowrap;
    }
    .links {
      padding-left: 0px;
    }
  }
}
