@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

* {
  margin: 0;
}

.MainCard {
  @include flex-container(column, space-between, center, nowrap, 10px);
  @include box-model(
    $margin: 0,
    $border: 0,
    $padding: 10px,
    $width: 220px,
    $height: 400px
  );
  @include border(0, 0px);
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid $quaternary-text-color;
  background-color: $quinary-color;
  &:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

  .image {
    @include flex-container(column, flex-start, center);
  
    .imagePic {
      @include box-model($width: 200px, $height: 180px);
      object-fit: cover;
      object-position: center;
    }
  }

  .expTitle {
    width: 100%;
    min-height: 70px;
    padding: 8px;
    font-size: 0.75rem;
    font-weight:700;
  }

  .placePrice {
    @include flex-container(row, center, center, nowrap, 50px);
    font-size:.7rem;
    font-weight:600;
    color:$secondary-text-color;

    .place {
      @include flex-container(row, center, center, nowrap, 2px);
    }

    .price {
      @include flex-container($align: center);
      background-color: $tertiary-color;
      padding: 5px;
      border-radius: 7px;
    }
  }

  .viewDetails {
    font-size: 0.6rem;
    text-decoration: none;
    color: $primary-text-color;

    &:hover {
      font-weight: bold;
    }
  }

  .buttons {
    @include flex-container(row, center, center, nowrap, 20px);
    .mainButton {
      @include button-element(200px, auto, 10px 20px, 0, 8px);
      color: $secondary-color;
      border: 1px solid $secondary-color;
      background-color: $tertiary-color;
      font-size: 0.6rem;
      font-family: "Montserrat", sans-serif;

      &:hover {
        background-color: $secondary-color;
        color: $tertiary-color;
      }
    }
  }
}
