@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

* {
  margin: 0;
}

.MainCard {
  @include flex-container(
    $direction: column,
    $justify: space-between,
    $align: center,
    $gap: 10px
  );
  @include box-model(
    $margin: 0,
    $border: 0,
    $padding: 15px,
    $width: 220px,
    $height: 400px
  );
  @include border($border: 1px solid $quaternary-text-color);
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  background-color: $quinary-color;
  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .image {
    @include flex-container($direction: column, $align: center);

    .imagePic {
      @include box-model($width: 200px, $height: 180px);
      object-fit: cover;
      object-position: center;
    }
  }

  .expTitle {
    @include box-model($padding: 8px, $width: 100%);
    @include form-text($font-size: 0.7rem, $font-weight: 700);
    min-height: 70px;
  }

  .placePrice {
    @include flex-container(
      $justify: space-between,
      $align: center,
      $gap: 2.3rem
    );
    @include form-text($font-size: 0.7rem, $font-weight: 600);
    color: $secondary-text-color;

    .place {
      @include flex-container($justify: center, $align: center, $gap: 0.2rem);
    }

    .price {
      @include flex-container($align: center);
      @include box-model($padding: 0.35rem);
      @include border($radius: 0.65rem);
      background-color: $tertiary-color;
    }
  }

  .viewDetails {
    @include form-text($font-size: 0.6rem, $text-decoration: none);
    color: $primary-text-color;

    &:hover {
      @include form-text($font-size: 0.6rem, $font-weight: bold);
    }
  }

  .buttons {
    @include flex-container($justify: center, $align: center, $gap: 1.2rem);
    .mainButton {
      @include button-element(
        $width: 200px,
        $padding: 10px 20px,
        $border-radius: 0.5rem
      );
      font-size: 0.6rem;
      font-family: "Montserrat", sans-serif;
      border: 1px solid $secondary-color;
      color: $secondary-color;
      background-color: $tertiary-color;

      &:hover {
        background-color: $secondary-color;
        color: $tertiary-color;
      }
    }
  }
}
