@import "../../styles/_mixins";
@import "../../styles/_variables";

.Main {
  @include flex-container($direction: column, $gap: 25px);
  @include box-model($padding: 50px, $width: 100%);

  .CategoryList {
    @include box-model($width: 100%);

    .mySwiper {
      height: auto;
      width: 100%;
      border-radius: 15px;

      & > div:first-child {
        // width: calc(100% - 10px);
      }
    }
  }
}
