@import "../../styles/_mixins";
@import "../../styles/_variables";

.Main {
  @include flex-container($direction: column, $gap: 25px);
  @include box-model($padding: 50px, $width: 100%);

  .titles {
    @include box-model($padding: 1rem 2.3rem);
    @include form-text($font-size: 1rem, $font-weight: bold, $text-align: left);
    background-color: $tertiary-color;
    color: $secondary-text-color;
  }

  .CategoryList {
    @include box-model($padding: 2rem, $width: 100%);
    background-color: $tertiary-color;

    .mySwiper {
      @include box-model($width: 100%, $height: auto);
    }
  }
}
