@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.Main {
  @include flex-container(column);
  @include box-model($padding: 3rem);
  
  .content {
    @include flex-container($justify: space-between, $gap: 20px);
    border-bottom: 1px solid $quaternary-color;
    
    .left {
      @include box-model($width: 60%, $height: 100%);
      @include flex-container($direction: column, $justify: center, $align: flex-start);
      text-align: start;
      
      .titlePrice {
        @include flex-container($justify: space-between);
        width: 100%;
     
      .title {
        @include form-text(
          $font-size: 4rem,
          $font-weight: 800,
          $letter-spacing: 1px,$line-height: 4rem
        );
        color: $secondary-text-color;
        width: 80%;
        
      }
      .priceInfo {
        // width: 20%;
        // text-align: right;

        .price {
          @include flex-container($justify: center,
            $align: center, $gap: 8px);
          @include form-text($font-weight: 600, $font-size: 0.9rem);
          @include box-model($padding: 30px 0 0 0);
          border-bottom: 1px solid $secondary-color;

          span {
            @include form-text($font-size: 1.2rem, $font-weight: 700);
            @include flex-container();
            // width: 95px;
          }
        }
        }
      }

      .tabs {
        @include box-model($padding: 20px 0 0 0, $width: 100%);
        @include flex-container();
        border-bottom: 1px solid $secondary-color;
        
        .inactive {
          @include button-element($padding: 10px,
          $border: 1px solid $secondary-color,
          $border-radius: 8px 8px 0 0,
          $font-weight: bold,
          $text-transform: none);
          background-color: $quinary-color;
          color: $secondary-text-color;
          text-decoration: none;
        }

        .active {
          @include button-element($padding: 10px,
          $border: 1px solid $secondary-color,
          $border-radius: 8px 8px 0 0,
          $font-weight: bold,
          $text-transform: none);
          background-color: $secondary-color;
          color: $quinary-text-color;
          text-decoration: none;
          }
      }
    }

    .right {
      height: calc(100vh - 70px - 45px);
      width: 40%;
      img {
        @include box-model($height: 80%, $width: 100%);
        object-fit: cover;
      };

      .included {
        @include flex-container($direction: column, $justify: center, $align: flex-start, $gap: 10px);
        @include box-model($height: 20%,
        $padding: 10px);
        text-align: start;
      }
    }
  }

  .date {
    @include box-model($padding: 25px 0);
    @include flex-container($direction: column, $gap: 20px);
    text-align: start;
    border-bottom: 1px solid $quaternary-color;

    .datePicker {
      @include flex-container($gap: 35px);
      @include box-model($padding: 10px 0 0 10px);
      

      input {
        @include form-text($font-size: 1.1rem);
        @include box-model($width: 220px);
        @include border($border: none,
        $radius: 6px);
        color: $primary-text-color;
        box-shadow: $box-shadow;
      }

      button {
        @include button-element(
          $height: 50px,
          $width: 220px,
          $border-radius: 10px
        );
        @include form-text(
          $font-weight: 600
        );
        background-color: $secondary-color;
        color: $quinary-color;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .suggestions {
    @include box-model($padding: 20px 0);
    text-align: start;
  }
}